@model Infa.Domain.ViewModels.PublicAuth.ForgotPasswordUserVM

@{
    TempData["title"] = "فراموشی رمز عبور";
}

@{
    Layout = "_DefaultLayout";
}

@if (ViewBag.IsSuccess == true)
{


    <script>
        var delay = 5000;
        setTimeout(function () { window.location = "http://localhost:5235" }, delay)

    </script>

}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">خانه</a></li>
        <li class="breadcrumb-item"><a>فراموشی رمز عبور</a></li>
    </ol>
</nav>

<div class="customer_login mt-60">
    <div class="container">
        <div class="row">
            <!--register area start-->
            <div class="col-lg-6 col-md-6 offset-lg-3 offset-md-3">
                <div class="account_form register">
                    <form asp-action="ForgotPassword" method="post">
                        <partial name="_CaptchaInput"/>
                        <p>
                            <label>ایمیل<span>*</span></label>
                            <input type="text" asp-for=Email>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </p>

                        <div class="login_submit">
                            <button type="submit">ارسال ایمیل</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--register area end-->