@model Infa.Domain.ViewModels.PublicAuth.ResetPasswordUserVM
@using Infa.Domain.ViewModels.Captcha
@{
    TempData["title"] = "تغییر رمز عبور";
}

@{
    Layout = "_DefaultLayout";
}

@if (ViewBag.IsSuccess == true)
{


    <script>
        var delay = 5000;
        setTimeout(function () { window.location = "http://localhost:5235" }, delay)

    </script>

}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">خانه</a></li>
        <li class="breadcrumb-item"><a>تغییر رمز عبور</a></li>
    </ol>
</nav>

<div class="customer_login mt-60">
    <div class="container">
        <div class="row">
            <!--register area start-->
            <div class="col-lg-6 col-md-6 offset-lg-3 offset-md-3">
                <div class="account_form register">
                    <form asp-action="ResetPassword" method="post">
                       <partial name="_CaptchaInput"/>
                        <p>
                            <label> رمز عبور جدید <span>*</span></label>
                            <input type="password" asp-for=Password>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </p>
                        <p>
                            <label>تکرار رمز عبور <span>*</span></label>
                            <input type="password" asp-for=ConfirmPassword>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </p>

                   
                        <p>
                        
                            <input type="hidden" asp-for=ActiveCode>
                        </p>

                         <div class="login_submit">
                            <button type="submit">تایید</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--register area end-->