<!-- Nav tabs -->
<div class="dashboard_tab_button">
    <ul role="tablist" class="nav flex-column dashboard-list">
        <li><a asp-area="User" asp-controller="Home" asp-action="Index" class="nav-link active show">داشبورد</a></li>
        <li><a asp-area="User" asp-controller="Home" asp-action="UserDetails" class="nav-link">جزئیات حساب</a></li>
        <li><a asp-area="User" asp-controller="Ticket" asp-action="Index" class="nav-link">پشتیبانی</a></li>
        <li><a asp-area="User" asp-controller="Seller" asp-action="Index" class="nav-link">درخواست فروشندگی</a></li>
        <li><a href="#" class="nav-link">دریافت ها</a></li>
        <li><a href="#" class="nav-link">آدرس ها</a></li>
        <li><a asp-controller="PublicAuth" asp-action="Logout" class="nav-link">خروج</a></li>
    </ul>
</div>